* {
    padding: 0;
    margin: 0;
    transition: all 0.3s linear;
  }
  /* body {
    background: linear-gradient(
      90deg,
      rgba(41, 30, 120, 1) 0%,
      rgba(0, 0, 0, 1) 50%,
      rgba(41, 30, 120, 1) 100%
    );
  } */

  .box {
    animation: popup 0.4s;
}

@keyframes popup {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.active
{
    color:  #ef4da0;
}

.shadow-text span {
  text-shadow: #ffffff 0px 0px 6px;
}
.shadow-text p {
  text-shadow: #ffffff 0px 0px 6px;
}
.shadow-text2 p {
  text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;
}


.btn2 {
  -webkit-animation-name: bounce_small_infinite;
  animation-name: bounce_small_infinite;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}

@keyframes bounce_small_infinite {
  0%,10%,26.5%,40%,to {
      -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
      animation-timing-function: cubic-bezier(.215,.61,.355,1);
      -webkit-transform: translate3d(0,0,0);
      transform: translateZ(0)
  }

  20%,21.5% {
      -webkit-animation-timing-function: cubic-bezier(.755,.05,.855,.06);
      animation-timing-function: cubic-bezier(.755,.05,.855,.06);
      -webkit-transform: translate3d(0,-10px,0);
      transform: translate3d(0,-10px,0)
  }

  35% {
      -webkit-animation-timing-function: cubic-bezier(.755,.05,.855,.06);
      animation-timing-function: cubic-bezier(.755,.05,.855,.06);
      -webkit-transform: translate3d(0,-10px,0);
      transform: translate3d(0,-10px,0)
  }

  42.5% {
      -webkit-transform: translate3d(0,-2px,0);
      transform: translate3d(0,-2px,0)
  }
}